.code {
    margin: 5px;
    padding: 10px;
    border: black 2px solid;
}

img {
    margin: 10px;
}

body {
    margin: 5px;
    padding: 5px;
    border: black 2px solid;
}

table, th, td {
    border: black 2px solid;
    border-collapse: collapse;
}
