body {
   background-color: #002b36;
   color: lightgreen;
   font-family: monospace;
   font-size: 1.1rem;
   line-height: 1.6;
}

#wrapper {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
}

.box {
   border: 2px solid lightgreen;
   margin: auto;
   margin-bottom: 0.9rem;
}

#navbar {
   overflow: hidden;
   width: 100%;
}

.navcell {
   width: 8rem;
   text-align: center;
}

#navbox {
   overflow: hidden;
   width: 100%;
}

table td + td {
   border-left: 2px solid lightgreen;
}

td {
   vertical-align: top;
   text-align: left;
   padding: 0.6rem;
}

#tags {
   width: 30%;
}

#post_list {
   overflow: hidden;
}

#postbox {
   padding: 0.6rem;
}

a {
   color: crimson;
   font-weight: bold;
   padding-left: 0.2rem;
   padding-right: 0.2rem;
}

.selected {
   background-color: crimson;
   color: #002b36;
   font-weight: bold;
}

#post-title-area {
   border-bottom: 2px lightgreen solid;
   padding-bottom: 0.6rem;
   margin-bottom: 0.3rem;
}

#post-title {
   margin-top: 0.3rem;
   margin-bottom: 0.3rem;
}

#post_list_ul {
   overflow: scroll;
   height: 4.5rem;
}

#univtitle {
   float: left;
}

#arms {
   float: right;
   height: 100px;
   margin-bottom: 0.6rem;
}

.inline-img {
   max-width: 75%;
   max-height: 30rem;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   display: block;
   border: 1px lightgreen solid;
}

#foot {
   text-align: center;
   margin: auto;
}

.inline-frame {
   margin-left: auto;
   margin-right: auto;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   display: block;
   border: 1px lightgreen solid;
}

.tag-link {
   display: inline;
   margin-right: 0.2em;
}

code {
   background-color: #001030;
   color: white;
}

pre > code {
   display: block;
   padding: 0.3rem;
   margin-left: 1.2rem;
   margin-right: 1.2rem;
   overflow-x: scroll;
}

h3 {
  font-size: 1.5rem;
}

h4 {
   font-size: 1.1rem;
}

