body {
   background-color: #002b36;
   color: lightgreen;
   font-family: monospace;
   font-size: 12pt;
   line-height: 1.6;
}

#wrapper {
   padding-left: 20px;
   padding-right: 20px;
}

.box {
   border: 2px solid lightgreen;
   margin: auto;
   margin-bottom: 15px;
}

#navbar {
   overflow: hidden;
   width: 100%;
}

.navcell {
   width: 100px;
   text-align: center;
}

#navbox {
   overflow: hidden;
   width: 100%;
}

table td + td {
   border-left: 2px solid lightgreen;
}

td {
   vertical-align: top;
   text-align: left;
   padding: 10px;
}

#tags {
   width: 30%;
}

#post_list {
   overflow: hidden;
}

#postbox {
   padding: 10px;
}

a {
   color: crimson;
}

.selected {
   background-color: crimson;
   color: #002b36;
   font-weight: bold;
}

#post_title {
   border-bottom: 2px lightgreen solid;
   padding-bottom: 10px;
   margin-bottom: 5px;
}

#tag_list_ul {
   max-height: 50px;
   min-height: 50px;
   overflow: scroll;
}

#post_list_ul {
   max-height: 80px;
   min-height: 80px;
   overflow: scroll;
}

#univtitle {
   float: left;
}

#arms {
   float: right;
   height: 100px;
   margin-bottom: 10px;
}

.inline-img {
   max-width: 75%;
   max-height: 500px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
   margin-bottom: 5px;
   display: block;
   border: 1px lightgreen solid;
}

#foot {
   text-align: center;
   margin: auto;
}

.inline-frame {
   margin-left: auto;
   margin-right: auto;
   margin-top: 5px;
   margin-bottom: 5px;
   display: block;
   border: 1px lightgreen solid;
}

.tag_link {
   display: inline;
   margin-right: 0.2em;
}

