<!DOCTYPE html>

<html>
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" href="/assets/css/style.css">
   <link rel="shortcut icon" type="image/png" href="/assets/images/arms.png">
   
   {% if page.tag %}
      <title>{{ page.tag }}</title>
   {% else %}
      <title>{{ page.title }}</title>
   {% endif %}
</head>

<body>
   <div id="wrapper">
      <h1 id="univtitle"> Tom Faulhaber's Website </h1>
      <a href="/2023/09/10/coat-of-arms.html">
         <img src="/assets/images/arms.png" id="arms"/>
      </a>
     
      <table id="navbar" class="box">
         <tr>
            <td class="navcell">
               {% if page.url == "/" %}
                  <a href="/" class="selected">Home</a>
               {% else %}
                  <a href="/">Home</a>
               {% endif %}
            </td>

            <td class="navcell">
               {% if page.url == "/about/" %}
                  <a href="/about" class="selected">About</a>
               {% else %}
                  <a href="/about">About</a>
               {% endif %}
            </td>

            <td class="navcell">
               {% if page.url == "/projects/" %}
                  <a href="/projects" class="selected">Projects</a>
               {% else %}
                  <a href="/projects">Projects</a>
               {% endif %}
            </td>

            <td class="navcell">
               {% if page.url == "/contact/" %}
                  <a href="/contact" class="selected">Contact</a>
               {% else %}
                  <a href="/contact">Contact</a>
               {% endif %}
            </td>

            <td class="filler"></td>
         </tr>
      </table>

      <table id="navbox" class="box">
         <tr>
            <td id="tags">
               Tags ({{ site.tags | size }})
               <ul id="post_list_ul">
                  {% for tag in site.tags %}
                     {% capture tag_name %}
                        {{ tag | first }}
                     {% endcapture %}

                     <li>
                        {% if page.tag == tag[0] %}
                           <a href="/tag/{{ tag | first | slugize }}" class="selected">
                              {{ tag[0] | replace:'-', ' ' }}
                           </a>
                        {% else %}
                           <a href="/tag/{{ tag | first | slugize }}">
                              {{ tag[0] | replace:'-', ' ' }}
                           </a>
                        {% endif %}
                     </li>
                  {% endfor %}
               </ul>
            </td>

            <td id="post_list">
               {% if page.tag %}
                     {{ content }}
               {% else %}
                  All posts ({{ site.posts | size }})
                  <ul id="post_list_ul">
                     {% for post in site.posts %}
                        <li>
                           {% if post.url == page.url %}
                              <a href="{{ post.url }}" class="selected">
                                 {{ post.title }}
                              </a>
                           {% else %}
                              <a href="{{ post.url }}">
                                 {{ post.title }}
                              </a>
                           {% endif %}
                        </li>
                     {% endfor %}
                  </ul>
               {% endif %}
            </td>
         </tr>
      </table>

      {% unless page.tag %}
         <div id="postbox" class="box">
            <div id="post-title-area">
               <h3 id="post-title">{{ page.title }}</h3>
               <i>
                  Authored {{ page.date | date: "%-d %B %Y" }}
                  {% if page.edited %}
                     (last edited {{ page.edited | date: "%-d %B %Y" }})
                  {% endif %}
               </i><br>

               {% if page.tags %}
                  <i>
                     Tags:
                     {% for tag in page.tags %}
                        <a href="/tag/{{ tag }}/" class="tag-link">{{ tag }}</a>
                     {% endfor %}
                  </i><br>
               {% endif %}
            </div>

            {{ content }}
         </div>
      {% endunless %}

      <div id="foot">
         Site and theme (C) Tom Faulhaber, 2023.
      </div>
   </div>      

   <script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>

